/*formulario*/
div.area-formulario{
/*alinha das dvi com classe area-formulario ao mesmo lado*/
display:inline-block;
/*border:1px solid red;*/

height: 60px;
}
    
    
  
    
    
    
    
    
    
form{
    width:80%;
    margin:0 auto;
   min-height: 464px;
    border:1px solid black;
 
    box-sizing:border-box;
    
    
    
}
form .titulo{
    padding-top:4px;
    
    text-align:center;
    margin-bottom:10px;
    background-color: rgb(20,28,94);
    min-height:40px;
    color:white;
    font-size: 26px
}
div#area1{
    width:70%;
  
    padding:10px;
    box-sizing:border-box;
    /*border: 1px solid red;*/
    
    
   

}
div#area2{
    width:30%;

        padding:10px;
    /*border: 1px solid black;*/
    box-sizing: border-box;
}
    
    div#area2 input{
         font-size: 13pt;
  
    width:100px;
    
    min-height:40px;    
}


   fieldset#itens-listagem{
        border:none;
        width: 100%;
        margin:0 auto;
        padding: 5px;
       box-sizing:border-box;
        
}

    fieldset.tipo-cliente label{
        
        width: auto;
    float: none;
    text-align: left;
        padding: 0;
        display: inline-block;
        
        font-size: 11pt;
          margin-bottom:0px;
         min-height: 20px;
        
}
fieldset.tipo-cliente{
width: 18%;
    

}
fieldset.tipo-cliente legend{
font-size: 13pt;
}

   /*   .tipo-cliente{
        
    
        width: 20%;
        margin:0 auto 0 20%
        
}*/

fieldset.tipo-cliente ul#tipocliente{
list-style: none;
}

  input.radcliente{

    
    
    font-size:none;
        margin-bottom:0px;
    width:auto;
    font-size:13pt;
   
    height:auto;
   float:none;

    
    }




.formulario label{ 
    width:20%; 
    float:left; 
    text-align:right;

    padding:15px 15px 0 0;
    margin-bottom:5px;
    box-sizing: border-box;
     /*border:1px solid black;*/

    font-size: 13pt;
   
    min-height: 40px;
    
    }
    
    
    div#area1 input.texto{
        margin-bottom:5px;
    width:80%;
    font-size:13pt;
   /*border:1px solid black;*/
    box-sizing: border-box;
    height:40px;
   float:left;
}
     div#area1 select{
         margin-bottom:5px;
    width:60%;
    font-size:13pt;
   
   
    height:40px;
   float:right;
}
 div#area1 option{
     font-size: 13pt;
    
}

    
    /*formatação para formularios*/
   form{
           width: 100%;
     
            box-shadow: 1px  2px 5px;
            border-radius:6px;
            min-height:290px;
            background-color:white;
            opacity:1;
       color: black;
        }
   input.bt_acao{
          
            
            background-color: rgb(20,28,94);
       border-radius:6px;
       padding: 0;
       outline: none;
            color:white;
      
            
           
          
        }  



 input#btn_listar{
        width:20%;height:40px;
    }

    /*formatações para tabela*/
/*titulo listar encomenda*/
    table#listagem td{
        border:1px solid black;
       
    }
    table#listagem{
        width: 100%;
      
     
         border-collapse:collapse;
            
          
       
            
    }
table#listagem tbody tr:nth-child(2n+1)
{
background-color: rgb(20,28,94);

color:white;
text-align: center;
font-weight:bold;
}

/*variação de cores do link*/
table#listagem tr:nth-child(2n+1) a
{
    color: white;
    text-decoration:none;
    
}

table#listagem tr:nth-child(2n+1) td
{
    color:white;
}

table#listagem tr a{
    color:black;
    font-weight:bold;
    text-decoration:none;
}

    table#listagem tr td,th{
        padding: 2px;
        box-sizing: border-box;
        text-align: center;
        font-size: 13pt;
        border: 1px solid black;
      
    }
table#listagem th{
font-size: 13pt;
}

#Cpanelusuario{
    width:60%;height:636px;
}
    
@media (max-width:1180px)
{
    #informacoes-usuario{
        width: 100%;
    }
    #Cpanelusuario{
        width: 100%;
    }
    div.area-formulario{
/*alinha das dvi com classe area-formulario ao mesmo lado*/
display:block;
    
/*border:1px solid red;*/

height: 80px;
}
    div#area1{
        width: 100%;
    }
    div#area2{
        width: 100%;
    }
    div#area1 input.texto
    {
        width:100%;
        float:none;
        margin-top: 0px;
        margin-bottom:5px;
        
    }
     div#area1 select
    {
        min-width:100%;
        float:none;
        margin-top: 0px;
        margin-bottom:5px;
        
        
    }
    .formulario label{
        font-size: 20px;
        width:100%;
        float:none;
        margin-top:5px;
        margin-bottom:0px;
       
        text-align:left;
    }
    
    input.bt_acao{
    
        font-size:20px;
      
    }
    
div#area2{
   
      
    }
    label#listaencomenda
    {
        margin-top:0px;
       
        float: left;
        width: 80%;
        position: relative;
        left:0%;
    }
    #btn_listar{
         margin-top:0px;
        margin-bottom: 0px;
        width: 20%;
        float: right;
    }
    
    fieldset{
        width:70%;margin:0 auto
}
    
table#listagem{
        width: 100%;
         border-collapse:collapse;
        margin: 0 auto;
    }
    table#listagem th{
font-size: 15pt;
}
    
       .tipo-cliente{
        
    
        width: 20%;
        margin:0 auto 0 0%
        
}
fieldset.tipo-cliente{
width: 50%;

}
    fieldset.tipo-cliente legend{
font-size: 20px;
}
    
    /*Formuatação de formulário de consultas
    
}
/*fim formatação formulario*/



